body {
/*    background-image: url("/img/bg.png");
    background-size: 100%;
    /*background-position: center;* /
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-color: #040;
}

body.welcome {
/*    background-image: url("/img/bg_welcome.png");*/
    background-color: #040;
}

.flag_rf {
    background: linear-gradient(0deg, rgba(213,43,30,100) 33.3%, rgba(0,57,166,100) 33.3%, rgba(0,57,166,100) 66.6%, rgba(255,255,255,100) 66.6%);
}

.welcome .flag_rf {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 40px;
    /*border: 1px solid #1B9FFC;*/
    border-radius: 0 15px 0 5px;
}

.faq_view code,
.node_view code {
    display: block;
    background: #ffffcc;
    padding: 10px;
    border: 1px solid #000;
}

.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-top: 8px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}

.icon-sm {
    width: 30px;
    height: 30px;
    padding-top: 6px;
    font-size: 15px;
}

.icon-lg {
    width: 60px;
    height: 60px;
    padding-top: 12px;
    font-size: 30px;
}
